<mat-card class="container">
  <mat-card-title>
    <h3>Forgot Your Password?</h3>
    <hr style="border-top: 5px solid red;">
  </mat-card-title>
  <mat-card-content>
      <form [formGroup]="forgotPasswordForm">
          <div class="col-md-12" style="border: 1px dotted gray;">
            <h4>Recover Your Password</h4>
            <p>Please enter your email address and we will send you link to reset your password!!</p>
            <hr>
    
            <ul>
              <li style="margin:5px;">
                <label>Email Address
                  <em>*</em>
                </label>
                <div>
                  <input type="email" class="form-control" formControlName="email">
                </div>
                <div *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched" class="alert alert-danger">
                  *Required!!
                </div>
                <div *ngIf="forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched" class="alert alert-danger">
                  *Value Not Alloewd
                </div>
              </li>
            </ul>
        
              <ul>
                <button mat-button color="primary" [disabled]="forgotPasswordForm.invalid" (click)="this.sendResetLink()">SUBMIT</button>
              </ul>
    
          </div>
        </form>
  </mat-card-content>
</mat-card>
