<div class="top-container" style="margin-top:80px;">
    <div class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong><span>Quick Links</span></strong></div>
                            <div class="block-content">
                                <ul class="links">
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="About Us">About Us</a></li>
                                    <!-- <li><i class="icon-right-dir theme-color"></i><a href="" title="Contact Us">Contact Us</a></li> -->
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Shipping Information">Shipping Information</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="FAQ">FAQ</a></li>
                                    <!-- <li><i class="icon-right-dir theme-color"></i><a href="" title="Blog">Blog</a></li> -->
                                    <!-- <li><i class="icon-right-dir theme-color"></i><a href="" title="Screen Lines">Screen Lines</a></li> -->
                                    <!-- <li><i class="icon-right-dir theme-color"></i><a href="" title="Our Partners">Our Partners</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong><span>My Account</span></strong></div>
                            <div class="block-content">
                                <ul class="links">
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="My Account">My Account</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Orders History">Orders History</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Return a Product">Return a Product</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Broken Screen Buyback">Broken Screen Buyback</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong><span>Terms &amp; Conditions</span></strong></div>
                            <div class="block-content">
                                <ul class="links">
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Returns Policy">Returns Policy</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Devices Policy">RMA Form</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Trademark Disclaimer">Trademark Disclaimer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <div class="block-title"><strong><span>Contact Us</span></strong></div>
                            <div class="block-content">
                                <ul class="links">
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Address">5955 Jimmy Carter Blvd #120</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="City">Norcross, GA 30071</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Phone Number">(678) 694-1873</a></li>
                                    <li><i class="icon-right-dir theme-color"></i><a href="" title="Email">Exwirelessatl@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-3">
                        <div class="site-seals">
                            <table title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications." width="270" cellspacing="0" cellpadding="2" border="0">
                                <tbody>
                                    <tr>
                                        <td width="135" valign="top" align="center">
                                            <a href="" target="_blank"><img src="assets/images/cart/xbadge2.png"></a>
                                        </td>
                                        <td width="135" valign="top" align="center">
                                            <a href="" tabindex="-1" onmousedown="return gts_mDown(event);" target="GEOTRUST_SSL_Splash"><img name="gts_seal" src="assets/images/cart/getgeotrustsslseal.gif" oncontextmenu="return false;" alt="Click to Verify - This site has chosen a GeoTrust SSL Certificate to improve Web site security" border="true"></a>
                                            <br>
                                            <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearer"></div>
                            <a href="" onmouseover="window.status='http://www.authorize.net/'; return true;" onmouseout="window.status=''; return true;" onclick="window.open('','AuthorizeNetVerification','width=600,height=430,dependent=yes,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,status=no,directories=no,location=yes'); return false;"
                                target="_blank">
                                <img src="assets/images/cart/xsecure90x72.png" alt="Authorize.Net Merchant - Click to Verify" width="90" border="0" height="72">
                            </a>
                            <a title="How PayPal Works" onclick="javascript:window.open('','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" href=""><img src="assets/images/cart/bdg_payments_by_pp_2line.png" alt="Payments by PayPal" border="0"></a>
                            <div class="clearer"></div>
                            <img src="assets/images/cart/xcredit-card-logos.png" alt="" style="max-width: 100%;">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class=" row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-7">
                        <a href="" class="logo"><img src="assets/images/NeoSmallLogo.png" alt="NEO" height="50px" width="50px"></a>
                        <div class="custom-block">All trademarks are properties of their respective holders. Neo Cellular LLC is a third party replacement part wholesaler and does not own or make claim to those trademarks used on this website in which it is not the holder.</div>
                    </div>
                    <div collection-repeat="col-md-3">
                        <address>© 2018 Neo Cellular . All Rights Reserved.</address>
                    </div>
                </div>
            </div>
        </div>
        <a href="assets/#" id="totop" style="display: none;"><i class="icon-up-open"></i></a>
    </div>
</div>