<div class="container">
  <img src="assets/images/Final.png" width="100%">

  <br>
  <br>
  <br>
  <hr>

  <div class="row" style="background-color: #efefef;">
    <div class="col-md-12">
      <h1 style="font-size: 20px; color: #474747;">
        ORDERING IN BULK?
        <br>
        <span style="font-weight: 1000; color: #e21f24; font-size: 40px; text-align: center">
          WE'VE GOT YOU COVERED.
        </span>
      </h1>
      <h5>We'll cover the shipping for orders with the following values!</h5>
      <br>
    </div>
  </div>

  <div class="row" style="background-color: #efefef;">

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 15px; color: #474747;text-align: center">
            ORDERS OVER...
            <br>
            <span style="font-weight: 1000; font-family: 'Montserrat'; margin-top: 5px; color: #e21f24; font-size: 90px;">
              $50
            </span>
          </h1>
          <br>
          <br>
          <h3 style="color: #000 !important; font-size: 20px !important; margin-top: -35px; text-align: center">
            <strong>Free USPS First Class
              <br>
              <span style="font-size: small;">
                (less than 1lb)
              </span>
            </strong>
          </h3>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 15px; color: #474747;">ORDERS OVER...
            <br>
            <span style="font-weight: 1000; font-family: 'Montserrat'; margin-top: 5px; color: #e21f24; font-size: 90px;">$250</span>
          </h1>
          <br>
          <br>
          <h3 style="color: #000 !important; font-size: 20px !important; margin-top: -35px;">
            <strong>Free Fedex Ground
              <br>
              <span style="font-size: small;">
                (any weight)
              </span>
            </strong>
          </h3>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 15px; color: #474747;">ORDERS OVER...
            <br>
            <span style="font-weight: 1000; font-family: 'Montserrat'; margin-top: 5px; color: #e21f24; font-size: 90px;">$500</span>
          </h1>
          <br>
          <br>
          <h3 style="color: #000 !important; font-size: 20px !important; margin-top: -35px;">
            <strong>Free Fedex Standard Overnight
              <br>
              <span style="font-size: small;">
                (any weight)
              </span>
            </strong>
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>
  <br>
  <hr>

  <!-- end of shipping price row -->

  <!-- start of usps and fedex map -->

  <div class="row">
      <div class="col-md-12">
        <h1 style="font-size: 20px; color: #474747;">
            <br>
          <span style="font-weight: 1000; color: #e21f24; font-size: 40px; text-align: center">
              ESTIMATE MY GROUND DELIVERY

          </span>
        </h1>
        <h5>In order to eliminate split-shipments, all orders ship from our main warehouse located in Southlake, Texas. 
            Please see this map to find out when you can expect your FedEx or USPS Ground package! 
            (Please note that FedEx Ground packages will not move on weekends. Please call your representative for more information.)</h5>
        <br>
      </div>
    </div>

  <div class="row">

    <div class="col-md-6">
      <mat-card>
        <mat-card-title>
          <h2>FEDEX EXPECTED DELIVERY</h2>
        </mat-card-title>
        <mat-card-content>
          <img src="assets/images/Shipping-Returns-Map.png">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-title>
            <h2>USPS EXPECTED DELIVERY</h2>
         </mat-card-title>
        <mat-card-content>
          <img src="assets/images/USPS-Shipping-Returns-Map.png">
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <br>
  <br>
  <hr>
  <!-- end of  usps and fedex map -->

  <!-- start of cut off time row-->

  <div class="row" style="background-color: #efefef;">
    <div class="col-md-12">
      <h1 style="font-size: 20px; color: #474747;">
        NEED YOUR ORDER QUICKLY?
        <br>
        <span style="font-weight: 1000; color: #e21f24; font-size: 40px; text-align: center">
          CUTOFF TIMES
        </span>
      </h1>
      <h5>As long as your order is placed before the cutoff time, it will ship same day! </h5>
      <br>
    </div>
  </div>

  <div class="row" style="background-color: #efefef;">

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <h3 style="color: #000 !important; font-size: 20px !important; padding-top: 10px;">
            <strong>Ground Package Cutoff</strong>
          </h3>
          <h1 style="font-weight: 1000; font-family: 'Montserrat'; color: #e21f24; font-size: 80px;">4:00
            <span style="font-weight: 1000; font-family: 'Montserrat'; color: #e21f24; font-size: 30px;">PM CST</span>
          </h1>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <h3 style="color: #000 !important; font-size: 20px !important; padding-top: 10px;">
            <strong>Overnight Package Cutoff</strong>
          </h3>
          <h1 style="font-weight: 1000; font-family: 'Montserrat'; color: #e21f24; font-size: 80px;">6:30
            <span style="font-weight: 1000; font-family: 'Montserrat'; color: #e21f24; font-size: 30px;">PM CST</span>
          </h1>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <h3 style="color: #000 !important; font-size: 20px !important; padding-top: 10px;">
            <strong>Saturday Delivery Cutoff</strong>
          </h3>
          <h1 style="font-weight: 1000; font-family: 'Montserrat'; color: #e21f24; font-size: 80px;">12:00
            <span style="font-weight: 1000; font-family: 'Montserrat'; color: #e21f24; font-size: 28px;">PM CST</span>
          </h1>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <br>
  <br>
  <hr>
  <!-- end of cut off time row-->

  <!-- start of support row -->

  <div class="row">

    <div class="col-md-4" style="text-align:center;">
      <mat-card>
        <mat-card-content>
          <h3 class="title">Free Shipping Methods</h3>
          <p style="margin-top: -5px; font-size: 15px;">Free shipping for orders over $50!</p>
          <br>
          <br>
          <button mat-raised-button class="learn-more-btn">
            Learn More
          </button>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-md-4" style="text-align:center;">
      <mat-card>
        <mat-card-content>
          <h3 class="title">Lifetime Warranty</h3>
          <p style="margin-top: -5px; font-size: 15px;">Hassle free 3-step return process.</p>
          <br>
          <br>
          <button mat-raised-button class="learn-more-btn">
            Learn More
          </button>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-md-4" style="text-align:center;">
      <mat-card>
        <mat-card-content>
          <h3 class="title">Dedicated Support</h3>
          <p style="margin-top: -5px; font-size: 15px;">Get support online or by phone!</p>
          <br>
          <br>
          <button mat-raised-button class="learn-more-btn">
            Learn More
          </button>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

  <!-- end of support row -->



</div>
