<mat-card class="container">
    <mat-card-title>
        <h3>Login Or Register New Account</h3>
        <hr style="border-top: 5px solid red;">
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm">
            <div class="col-md-6">
                <h4>LOGIN HERE</h4>
                <p>FOR EXISTING CUSTOMER</p>
                <hr>
                <ul>
                    <li style="margin:5px;">
                        <label>Email Address
                        <em>*</em>
                    </label>
                        <div>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                    </li>
                    <li style="margin:5px;">
                        <label>Password
                        <em>*</em>
                    </label>
                        <div>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                    </li>
                </ul>
                <ul>
                    <p class="required">* Required Fields</p>
                    <button mat-button color="primary" [disabled]="loginForm.invalid" (click)="this.login()">LOGIN</button>
                </ul>
            </div>
        </form>


        <form [formGroup]="customerForm">
            <div class="col-md-6">
                <h4>NEW CUSTOMER</h4>
                <p>PERSONAL INFORMATION</p>
                <hr>
                <ul class="signup-ul">
                    <li class="signup-li">
                        <label>First Name
                        <em>*</em>
                    </label>
                        <div>
                            <input type=" text" class="form-control" formControlName="firstName">
                        </div>
                        <div *ngIf="customerForm.get('firstName').hasError('required') && customerForm.get('firstName').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('firstName').hasError('pattern') && customerForm.get('firstName').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                    <li class="signup-li">
                        <label>Last Name
                        <em>*</em>
                    </label>
                        <div>
                            <input type="text" class="form-control" formControlName="lastName">
                        </div>
                        <div *ngIf="customerForm.get('lastName').hasError('required') && customerForm.get('lastName').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('lastName').hasError('pattern') && customerForm.get('lastName').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>

                </ul>

                <ul class="signup-ul">
                    <li class="signup-li">
                        <label>Email Address
                        <em>*</em>
                    </label>
                        <div>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                        <div *ngIf="customerForm.get('email').hasError('required') && customerForm.get('email').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('email').hasError('pattern') && customerForm.get('email').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                    <li class="signup-li">
                        <label>Phone Number
                        <em>*</em>
                    </label>
                        <div>
                            <input type="number" class="form-control" formControlName="phoneNo">
                        </div>
                        <div *ngIf="customerForm.get('phoneNo').hasError('required') && customerForm.get('phoneNo').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('phoneNo').hasError('pattern') && customerForm.get('phoneNo').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                </ul>
                <p>ADDRESS INFORMATION</p>
                <hr>
                <ul class="signup-ul">
                    <li class="signup-li">
                        <label>Company Name
                        <em>*</em>

                    </label>
                        <div>
                            <input type="text" class="form-control" formControlName="companyName">
                        </div>
                        <div *ngIf="customerForm.get('companyName').hasError('required') && customerForm.get('companyName').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('companyName').hasError('pattern') && customerForm.get('companyName').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>

                    </li>
                    <li class="signup-li">
                        <label>Street Address
                        <em>*</em>

                    </label>
                        <div>
                            <input type="text" class="form-control" formControlName="street">
                        </div>
                        <div *ngIf="customerForm.get('street').hasError('required') && customerForm.get('street').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('street').hasError('pattern') && customerForm.get('street').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                </ul>
                <ul class="signup-ul">
                    <li class="signup-li">
                        <label>City
                        <em>*</em>

                    </label>
                        <div>
                            <input type="text" class="form-control" formControlName="city">
                        </div>
                        <div *ngIf="customerForm.get('city').hasError('required') && customerForm.get('city').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('city').hasError('pattern') && customerForm.get('city').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                    <li class="signup-li">
                        <label>State
                        <em>*</em>

                    </label>
                        <div>
                            <select class="form-control" formControlName="state">
                                <option *ngFor="let state of this.state" [ngValue]=state>
                                  {{state}}
                                </option>
                                
                            </select>
                        </div>
                        <div *ngIf="customerForm.get('state').hasError('required') && customerForm.get('state').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('state').hasError('pattern') && customerForm.get('state').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                </ul>
                <ul class="signup-ul">
                    <li class="signup-li">
                        <label>Zipcode
                        <em>*</em>

                    </label>
                        <div>
                            <input type="number" class="form-control" formControlName="zipCode">
                        </div>
                        <div *ngIf="customerForm.get('zipCode').hasError('required') && customerForm.get('zipCode').touched" class="alert alert-danger">
                            *Required!!
                        </div>
                        <div *ngIf="customerForm.get('zipCode').hasError('pattern') && customerForm.get('zipCode').touched" class="alert alert-danger">
                            *Value Not Alloewd
                        </div>
                    </li>
                    <li class="signup-li">
                        <label>Country</label>
                        <div>
                            <input type="text" class="form-control" formControlName="country">
                        </div>
                    </li>
                </ul>

                <ul>
                    <p class="required">* Required Fields</p>
                    <button mat-button color="primary" [disabled]="customerForm.invalid" (click)="this.register()">REGISTER</button>

                </ul>

            </div>
        </form>

    </mat-card-content>
</mat-card>