.signup-ul {
    display: flex;
}

.signup-li {
    width: 50%;
    margin: 5px;
}

p {
    color: red;
}

h3 {
    color: red;
}

h2 {
    color: red;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.mat-button {
    background: red;
    color: white;
    width: 100%
}

em {
    color: red;
}

.vl {
    border-left: 6px solid lightgray;
    height: 90%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    /* top: 0; */
}

.messages {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.error-msg {
    border-color: #ebccd1;
    background-color: #f2dede;
    color: #a94442;
}