<div class="container">
  <img src="assets/images/Final.png" width="100%">

  <br>
  <br>
  <br>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2 class="section-header">We Make It Simple For You !!!</h2>
      <p>
        NEO Cellular wants to buy your broken screens! We pay competitive prices for a variety of broken screens. Sell your broken
        or unwanted screens to us for in-store credit or PayPal. All broken screens sent to NEO Cellular must have a batch
        number and batch documentation for your shipment. Batch number must be labeled clearly on the box or shipping label,
        or the package may be returned to sender. All screens will be tested by NEO Cellular upon arrival to verify working
        LCD and Digitizer. Those found defective will be recycled unless otherwise stated by seller.
      </p>
    </div>


  </div>

  <br>
  <hr>


  <div class="row" style="background-color: #efefef;">
    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 20px; color: #474747;">
            Step 1
            <br>
            <hr>
            <span>
              Fill Out The Form
            </span>
          </h1>
          <ul>
            <li>
              1. Tell us the number of LCD screens you’re sending
            </li>
            <li>
              2. Tell us you’d like to process your shipment
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 20px; color: #474747;">
            Step 2
            <br>
            <hr>
            <span>
              Shipping Address
            </span>
          </h1>
          <ul>
            <li>
              Give us your shipping and return address
            </li>
            <li>

            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row" style="background-color: #efefef;">
    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 20px; color: #474747;">
            Step 3
            <br>
            <hr>
            <span>
              Pack Them Up </span>
          </h1>
        </mat-card-content>
        <ul>
          <li>
            Print out the address label provided on the confirmation page. Affix this label on your package. We even pay shipping if
            you’re sending 25 or more!
          </li>
        </ul>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-content>
          <h1 style="font-size: 20px; color: #474747;">
            Step 4
            <br>
            <hr>
            <span>
              Get Funded
            </span>
          </h1>
          <ul>
            <li>
              After the package delivery, allow 3-5 business days for testing before fund disbursement </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>


  </div>

  <br>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-header">OEM GRADING</h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          <h1>GRADE - A</h1>
        </mat-card-title>
        <hr>

        <mat-card-content>
          <p class="p-left">Fully Functional OEM LED</p>
          <p class="p-left">Fully Functional OEM Digitizer</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          <h1>GRADE - B</h1>
        </mat-card-title>
        <hr>

        <mat-card-content>
          <p class="p-left">Functional OEM LED</p>
          <p class="p-left">Functional OEM Digitizer</p>
          <p class="p-left">Only General Repair Needed</p>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          <h1>GRADE - C</h1>
        </mat-card-title>
        <hr>

        <mat-card-content>
          <p class="p-left">Functional OEM LED</p>
          <p class="p-left">Functional OEM Digitizer</p>
          <p class="p-left">Pressure Damaged or White Dots</p>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          <h1>GRADE - D</h1>
        </mat-card-title>
        <hr>

        <mat-card-content>
          <p class="p-left">Functional OEM LED</p>
          <p class="p-left">Functional OEM Digitizer</p>
          <p class="p-left">Flex Ribbon Repair Needed</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2 class="section-header">LCD BUY BACK PRICING TABLE</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-stripped table-bordered">
        <thead>
          <tr>
            <th scope="col">Model</th>
            <th scope="col">Price(Based On Grade)</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>iPhone - 4</td>
            <td>
              <ul>
                <li class="li-flex">
                  <h6>A</h6>
                  &emsp; &emsp;
                  <h6> $12.99</h6>
                </li>
                <li class="li-flex">
                  <h6>B</h6>
                  &emsp; &emsp;
                  <h6> $10.99</h6>
                </li>
                <li class="li-flex">
                  <h6>C </h6>
                  &emsp; &emsp;
                  <h6> $10.99</h6>
                </li>
                <li class="li-flex">
                  <h6>D</h6>
                  &emsp; &emsp;
                  <h6> $10.99</h6>
                </li>

              </ul>
            </td>
            <input class="form-control" type="number" placeholder="Please Enter No LCD For Model">

          </tr>
          <tr>
            <td>iPhone - 5S</td>
            <td>
              <ul>
                <li class="li-flex">
                  <h6>A</h6>
                  &emsp; &emsp;
                  <h6> $12.99</h6>
                </li>
                <li class="li-flex">
                  <h6>B</h6>
                  &emsp; &emsp;
                  <h6> $10.99</h6>
                </li>
                <li class="li-flex">
                  <h6>C </h6>
                  &emsp; &emsp;
                  <h6> $10.99</h6>
                </li>
                <li class="li-flex">
                  <h6>D</h6>
                  &emsp; &emsp;
                  <h6> $10.99</h6>
                </li>

              </ul>
            </td>
            <td>
              <input class="form-control" type="number" placeholder="Please Enter No LCD For Model">
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>
</div>
