<div class="container" *ngIf="this.purchasedProductList && this.purchasedProductList.length > 0">

    <div class="cart">
        <div class="page-title title-buttons">
            <h1>Shopping Cart</h1>
            <ul class="checkout-types">
                <li [routerLink]="['/address']">
                    <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout">
                    <span><span>
                      Proceed to Checkout
                    </span></span>
                  </button>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="cart-table-wrap">
                    <form>
                        <input name="form_key" type="hidden" value="wwtUQgvrw4EGlFhu">
                        <fieldset style="max-height: 700px; overflow-y: auto;">
                            <table id="shopping-cart-table" class="data-table cart-table">
                                <thead>
                                    <tr class="first last">
                                        <th rowspan="1">&nbsp;</th>
                                        <th rowspan="1">&nbsp;</th>
                                        <th rowspan="1"><span class="nobr">Product Name</span></th>
                                        <th colspan="1"><span class="nobr">Unit Price</span></th>
                                        <th rowspan="1" style="text-align: center">Quantity</th>
                                        <!-- <th rowspan="1">Edit</th> -->

                                        <th class="last" colspan="1">Subtotal</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="first last">
                                        <td colspan="50" class="a-right last">
                                            <button type="button" title="Continue Shopping" class="button btn-continue"><span><span>Continue Shopping</span></span></button>
                                            <button type="submit" name="update_cart_action" value="update_qty" title="Update Shopping Cart" class="button btn-update"><span><span>Update Shopping Cart</span></span></button>
                                            <button type="submit" data-toggle="modal" data-target="#clearCart" name="update_cart_action" title="Clear Shopping Cart" class="button btn-empty" id="empty_cart_button"><span><span>Clear Shopping Cart</span></span></button>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let product of this.purchasedProductList; let index = index;" class="first last odd">
                                        <td class="action-td">
                                            <a href="javascript:void(0)" (click)="this.setProductToDeleteFromCart(product)" class="btn-remove btn-remove2" data-toggle="modal" data-target="#deleteProductFromCartPage"></a>
                                        </td>
                                        <td class="pr-img-td">
                                            <a href="#" class="product-image">
                                                    <img *ngIf="(product.image==null)"  src="assets/images/noImage.png" width="80" height="80">
                                                    <img *ngIf="(product.image!=null)" src="data:image/png;base64,{{product.image}}" width="80" height="80" alt="">
                                            </a>
                                        </td>
                                        <td class="product-name-td">
                                            <h2 class="product-name">
                                                <a href="#" style="color:red; margin: 0px">{{product.description}}</a>
                                                <br>SKU: {{product.productNo}}
                                            </h2>
                                        </td>
                                        <td>
                                            <span class="cart-price">
                                                <span class="price">{{product.retail | currency:'USD':'true'}}</span>
                                            </span>
                                        </td>
                                        <td>
                                            <div style="display: flex;justify-content: space-evenly;">
                                                <!-- <a href="javascript:void(0)" class="table_qty_dec" data-increment="1">-</a> -->

                                                <!-- This is very important to understand when you use ngModel with the ngFor, u must write name = a{{index}}
                                                DO NOT DELETE THIS -->
                                                <input name=a{{index}} [(ngModel)]="this.purchasedProductList[index].saleQuantity" size="4" title="Qty" class="form-control" maxlength="12" type="number">
                                                <button type="button" title="Edit" class="button btn-continue" (click)="this.updateProductFromCart(product)"><span><span>Edit</span></span></button>
                                                <!-- <a href="javascript:void(0)" class="table_qty_inc" data-increment="1">+</a> -->
                                                <!-- <a class="edit-qty"><i class="icon-pencil"></i></a> -->
                                            </div>
                                        </td>

                                        <td class="td-total last">
                                            <span class="cart-price">
        
                                                <span class="price">{{product.saleQuantity * product.retail | currency:'USD':'true'}}</span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="cart-collaterals">
                    <!-- <div class="discount">

                        <h2>Discount Codes</h2>
                        <form id="discount-coupon-form">
                            <div class="discount-form">
                                <label for="coupon_code">Enter your coupon code if you have any.</label>
                                <input type="hidden" name="remove" id="remove-coupone" value="0">
                                <div class="input-box">
                                    <input class="input-text" id="coupon_code" name="coupon_code" value="">
                                </div>
                                <div class="buttons-set">
                                    <button type="button" title="Apply Coupon" class="button" onclick="discountForm.submit(false)" value="Apply Coupon"><span><span>Apply Coupon</span></span></button>
                                </div>
                            </div>
                        </form>
                    </div> -->

                    <!-- <script type="text/javascript">
                        //<![CDATA[
                        var discountForm = new VarienForm('discount-coupon-form');
                        discountForm.submit = function(isRemove) {
                            if (isRemove) {
                                $('coupon_code').removeClassName('required-entry');
                                $('remove-coupone').value = "1";
                            } else {
                                $('coupon_code').addClassName('required-entry');
                                $('remove-coupone').value = "0";
                            }
                            return VarienForm.prototype.submit.bind(discountForm)();
                        }
                        discountForm.cancel = function(couponCnt) {
                                $('discount-coupon-cancel-form-' + couponCnt).submit();
                            }
                            //]]>
                    </script> -->
                    <div class="totals">
                        <h2>Cart Totals</h2>
                        <div>
                            <table id="shopping-cart-totals-table">
                                <colgroup>
                                    <col>
                                    <col width="1">
                                </colgroup>
                                <tfoot>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td style="" class="a-right">
                                            <strong><span class="price">{{this.totalAmount | currency:'USD':'true'}}</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Total Qty </td>
                                        <td style="" class="a-right">
                                            <span class="price">{{this.totalQuantity}}</span> </td>
                                    </tr>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Subtotal </td>
                                        <td style="" class="a-right">
                                            <span class="price">{{this.totalAmount | currency:'USD':'true'}}</span> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="checkout-types">
                                <li> <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" [routerLink]="['/address']"><span><span>Proceed to Checkout</span></span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Delete From Cart Modal -->
<div class="modal" id="deleteProductFromCartPage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remove Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are You Sure You Want To Remove This Product From The Cart ?? </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="this.deleteProduct()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- End Of Product Delete From Cart Modal -->

<!-- Satrt OF Clear Shopping Cart From Cart Modal -->
<div class="modal" id="clearCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remove All Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h4>Caution !!!</h4>
                <p>Are You Sure You Want To Remove All These Products From The Cart ?? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="this.clearShopingCart()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- End OF Clear Shopping Cart From Cart Modal -->