<div class="top-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <span class="icon">
                    <img src="assets/images/thankyou-cart.png">
                </span>
                <h2>Thank You For Shopping With Us. We Have Successfully Received Your Order.</h2>
                <h4>Please Check Your Email For Order Details.</h4>
                <!-- <h4>Also, Please Give Us About 24 to 48 Hours To Process Your Order</h4> -->
                <p style="margin-top: 35px;">
                    <a class="btn btn-default" href="javascript:void(0)" routerLink="/">
                        <i class="icon-basket"></i> Home
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)" routerLink="/">
                        <i class="icon-basket" ></i> Continue Shopping
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>