<div class="bg-white">
  <main class="main-content container" role="main">
    <div class="row mt-50 mb-50">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="categories_slidebar">
          <h4 class="widget-title">Brands</h4>
          <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Collapsible Group Item #1
                    </button>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
      
            </div>
          <!-- <div class="accordion" id="products-tab" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="bags">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                  class="">
                  LCD
                  <i class="fa fa-angle-up"></i>
                </a>
              </div>
              <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="bags">
                <ul class="card-body">
                  <li>
                    <a href="javascript:;">Bags-1</a>
                  </li>
                  <li>
                    <a href="javascript:;">Bags-2</a>
                  </li>
                  <li>
                    <a href="javascript:;">Bags-3</a>
                  </li>
                </ul>
              </div>
            </div>
      
            <div class="card">
              <div class="card-header" role="tab" id="sunglass">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PARTS
                  <i class="fa fa-angle-up"></i>
                </a>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="sunglass" data-parent="#accordionEx">
                <ul class="card-body">
                  <li>
                    <a href="javascript:;">Sunglass-1</a>
                  </li>
                  <li>
                    <a href="javascript:;">Sunglass-2</a>
                  </li>
                  <li>
                    <a href="javascript:;">Sunglass-3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <!-- <h4 class="widget-title">Categories 2</h4> -->
          <!-- <div class="accordion" id="products-tab" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="bags-2">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                  class="">
                  BATTERIES
                  <i class="fa fa-angle-up"></i>
                </a>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="bags">
                <ul class="card-body">
                  <li>
                    <a href="javascript:;">Bags-1</a>
                  </li>
                  <li>
                    <a href="javascript:;">Bags-2</a>
                  </li>
                  <li>
                    <a href="javascript:;">Bags-3</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="sunglass">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  TOOLS
                  <i class="fa fa-angle-up"></i>
                </a>
              </div>
              <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="sunglass" data-parent="#accordionEx">
                <ul class="card-body">
                  <li>
                    <a href="javascript:;">Sunglass-1</a>
                  </li>
                  <li>
                    <a href="javascript:;">Sunglass-2</a>
                  </li>
                  <li>
                    <a href="javascript:;">Sunglass-3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>


      <div class="col-md-9 col-sm-12 col-xs-12 pull-right">

           <!-- This is add all to cart logic -->
           <div *ngIf="this.customerService.getLogedInUser() != '' " class="cart-button" (click)="this.addAllProducts()">
              <img src="/assets/images/Cart.png">
              <p>Add All To Cart</p>
          </div>

        <!-- Product View With Customer login -->
        <div class="row products" *ngIf="this.customerService.getLogedInUser() != '' ">
          <div *ngFor="let product of this.productList; let index = index; trackBy: trackByFn" class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box">
              <a href="javascript:;" class="product-image">
                <div class="product-labels">
                  <span *ngIf="product.onSale" class="onsale title-h6">Sale!</span>
                  <span *ngIf="product.newProduct" class="new-label title-h6">New</span>
                  <span *ngIf="product.quantity <= 0" class="out-of-stock-label title-h6">Out
                    <span class="small">of stock</span>
                  </span>
                </div>
                <span class="product-image-inner">
                  <picture>
                    <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
                    <img *ngIf="(product.image!=null)" src="data:image/png;base64,{{product.image}}" class="attachment-thegem_shop_catalog" alt="NEO">
                  </picture>
                  <!-- <picture>
                      <img src="/assets/images/final_logo_3000x1000.png" class="attachment-$size woo-product-hover" alt="NEO">
                    </picture> -->
                </span>
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <p>{{product.description}}</p>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="amount">
                      <span class="">$</span>
                      {{product.retail}}
                    </span>
                  </span>
                </div>
                <input *ngIf="product.quantity > 0" type="number" class="form-control" placeholder="Enter Quantity" name=a{{index}} [(ngModel)]='product.saleQuantity'
                  min="1">

                <div *ngIf="product.quantity > 0">
                  <button mat-button class="addToCartOnSalePage" (click)="this.addProductToCart(product)">
                    <i class="fa fa-cart-plus"></i>
                    Add to Cart
                  </button>
                </div>
                <div *ngIf="product.quantity <= 0">
                  <button mat-button class="notify-me-button">
                    <i class="fa fa-bell"></i>
                    Notify When Available
                  </button>
                </div>
              </div>
            </div>
          </div>




        </div>

        <!-- Product View With out customer login -->

        <div class="row products" *ngIf="this.customerService.getLogedInUser() == '' ">
          <div *ngFor="let product of this.productList; let index = index; trackBy: trackByFn" class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box">
              <a href="javascript:;" class="product-image">
                <div class="product-labels">
                  <span *ngIf="product.onSale" class="onsale title-h6">Sale!</span>
                  <span *ngIf="product.newProduct" class="new-label title-h6">New</span>
                  <span *ngIf="product.quantity <= 0" class="out-of-stock-label title-h6">Out
                    <span class="small">of stock</span>
                  </span>
                </div>
                <span class="product-image-inner">
                  <picture>
                    <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
                    <img *ngIf="(product.image!=null)" src="data:image/png;base64,{{product.image}}" class="attachment-thegem_shop_catalog" alt="NEO">
                  </picture>

                  <!-- <picture>
                   <img src="/assets/images/final_logo_3000x1000.png" class="attachment-$size woo-product-hover" alt="NEO">
                  </picture> -->
                </span>
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <p>{{product.description}}</p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </main>
</div>



<!-- <div class="top-container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col -sm-12 a-left">
                    <ul>
                        <li>Home
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Apple
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Iphone
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Iphone X
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">


    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="categories_slidebar">
          <h4 class="widget-title">Categories</h4>
          <div class="accordion" id="products-tab" role="tablist" aria-multiselectable="true">
            <div class="card">            
              <div class="card-header" role="tab" id="bags">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                      Bags <i class="fa fa-angle-up"></i></a>
              </div>
              <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="bags">
                  <ul class="card-body">
                    <li><a href="javascript:;">Bags-1</a></li>
                    <li><a href="javascript:;">Bags-2</a></li>
                    <li><a href="javascript:;">Bags-3</a></li>
                  </ul>
              </div>
            </div>

            <div class="card">            
              <div class="card-header" role="tab" id="sunglass">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Sunglass <i class="fa fa-angle-up"></i></a>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="sunglass" data-parent="#accordionEx">
                  <ul class="card-body">
                    <li><a href="javascript:;">Sunglass-1</a></li>
                    <li><a href="javascript:;">Sunglass-2</a></li>
                    <li><a href="javascript:;">Sunglass-3</a></li>
                  </ul>
              </div>
            </div>
          </div>
          </div>
          </div>

    <div class="col-md-10" *ngIf="this.customerService.getLogedInUser() != '' ">
        <mat-card *ngFor="let product of this.productList; let index = index; trackBy: trackByFn">
        
    
            <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
            <img *ngIf="(product.image!=null)" mat-card-image class="productIMG" src="data:image/png;base64,{{product.image}}" alt="NEO">
            <img *ngIf = "product.quantity <= 0" class="outofstock-image mat-card-image" src="assets/images/sold-out.png">
            <mat-card-content>
                <p style="height: 38px;">{{product.description}}</p>
                <p style="font-weight: 650;">{{product.retail | currency:'USD':'true'}}</p>
              
                <div *ngIf = "product.quantity > 0">
                    <div style="display: flex;">
                        <input type="number" class="form-control" name="quantity" placeholder="Quantity" name=a{{index}} [(ngModel)]='product.saleQuantity' min="1">
                    </div>
                    <button mat-button class="addToCartOnSalePage" (click)="this.addProductToCart(product)">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>
                </div>

                <div  *ngIf = "product.quantity <= 0">
                        <button mat-button class="notify-me-button">
                                <i class="fa fa-bell"></i>
                                Notify When Available
                            </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-10" *ngIf="this.customerService.getLogedInUser() == '' ">
        <mat-card style="height: 215px;;" *ngFor="let product of this.productList; let i = index" [attr.data-index]="i">
            <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
            <img *ngIf="(product.image!=null)" mat-card-image class="productIMG" src="data:image/png;base64,{{product.image}}" alt="">
            <img *ngIf = "product.quantity <= 0" class="outofstock-image mat-card-image" src="assets/images/sold-out.png">

            <mat-card-content>
                <p style="height: 38px;">{{product.description}}</p>
        
            </mat-card-content>
        </mat-card>
    </div>

</div> -->
