<div class="top-container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col -sm-12 a-left">
                    <ul>
                        <li>Home
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Apple
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Iphone
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Iphone X
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-2">

        <div style="font-size: 19px;font-weight:600;">Category</div>

        <ul>
            <li *ngFor="let cat of this.categoryList" class="test">
                {{cat.name}}
            </li>
        </ul>
    </div>
    <div class="col-md-10" *ngIf="this.customerService.getLogedInUser() != '' ">
        <mat-card *ngFor="let product of this.productList; let i = index" [attr.data-index]="i">
        
            <!-- Dont delete this will help to show tags. -->
            <!-- <p class="tag">
                <span>
                    Sale
                </span>
            </p> -->
            <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
            <img *ngIf="(product.image!=null)" mat-card-image class="productIMG" src="data:image/png;base64,{{product.image}}" alt="">
            <img *ngIf = "product.quantity <= 0" class="outofstock-image mat-card-image" src="assets/images/sold-out.png">
            <mat-card-content>
                <p style="height: 38px;">{{product.description}}</p>
                <p style="font-weight: 650;">{{product.retail | currency:'USD':'true'}}</p>
                <!-- <div style="display: flex;">
                    <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]='product.saleQuantity' min="1">
                </div> -->
                <div *ngIf = "product.quantity > 0">
                    <div style="display: flex;">
                        <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]='product.saleQuantity' min="1">
                    </div>
                    <button mat-button class="addToCartOnSalePage" (click)="this.addProductToCart(product)">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>
                </div>

                <div  *ngIf = "product.quantity <= 0">
                        <button mat-button class="notify-me-button">
                                <i class="fa fa-bell"></i>
                                Notify When Available
                            </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-10" *ngIf="this.customerService.getLogedInUser() == '' ">
        <mat-card style="height: 215px;;" *ngFor="let product of this.productList; let i = index" [attr.data-index]="i">
            <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
            <img *ngIf="(product.image!=null)" mat-card-image class="productIMG" src="data:image/png;base64,{{product.image}}" alt="">
            <mat-card-content>
                <p style="height: 38px;">{{product.description}}</p>
                <!-- <p style="font-weight: 650;">{{product.retail | currency:'USD':'true'}}</p> -->
                <!-- <div style="display: flex;">
                        <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]='product.saleQuantity' min="1">
                    </div> -->
                <!-- <div>
                        <button mat-button class="addToCartOnSalePage" (click)="this.addProductToCart(product)">
                                  <i class="fa fa-cart-plus"></i>
                                      Add to cart
                                  </button>
                    </div> -->
            </mat-card-content>
        </mat-card>
    </div>

</div>