<div class="top-container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col -sm-12 a-left">
                    <ul>
                        <li>Home
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Apple
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Iphone
                            <i class="icon-right-open"></i>
                        </li>
                        <li>Iphone X
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-2">

            <!-- <div style="font-size: 19px;font-weight:600;">Category</div>

            <ul>
                <li *ngFor="let cat of this.categoryList" class="test">
                    {{cat.name}}
                </li>
            </ul> -->

        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h3 class="mb-0" >
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    CATEGORY
                  </button>
                </h3>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body test" *ngFor="let cat of this.categoryList">
                        {{cat.name}}
                </div>
              </div>
            </div>

            <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h3 class="mb-0" >
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          BRAND
                        </button>
                      </h3>
                    </div>
                
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body test" *ngFor="let cat of this.categoryList">
                              {{cat.name}}
                      </div>
                    </div>
                  </div>
            <!-- <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div> -->
            <!-- <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div> -->
          </div>
        <!-- <div style="font-size: 19px;font-weight:600;">Category</div>

        <ul>
            <li *ngFor="let cat of this.categoryList" class="test">
                {{cat.name}}
            </li>
        </ul> -->
    </div>
    <div class="col-md-10" *ngIf="this.customerService.getLogedInUser() != '' ">
        <mat-card *ngFor="let product of this.productList; trackBy: trackByFn">
        
            <!-- Dont delete this will help to show tags. -->
            <!-- <p class="tag">
                <span>
                    Sale
                </span>
            </p> -->
            <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
            <img *ngIf="(product.image!=null)" mat-card-image class="productIMG" src="data:image/png;base64,{{product.image}}" alt="NEO">
            <img *ngIf = "product.quantity <= 0" class="outofstock-image mat-card-image" src="assets/images/sold-out.png">
            <mat-card-content>
                <p style="height: 38px;">{{product.description}}</p>
                <p style="font-weight: 650;">{{product.retail | currency:'USD':'true'}}</p>
                <!-- <div style="display: flex;">
                    <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]='product.saleQuantity' min="1">
                </div> -->
                <div *ngIf = "product.quantity > 0">
                    <div style="display: flex;">
                        <input type="number" class="form-control" name="quantity" placeholder="Quantity" [(ngModel)]='product.saleQuantity' min="1">
                    </div>
                    <button mat-button class="addToCartOnSalePage" (click)="this.addProductToCart(product)">
                        <i class="fa fa-cart-plus"></i>
                        Add to cart
                    </button>
                </div>

                <div  *ngIf = "product.quantity <= 0">
                        <button mat-button class="notify-me-button">
                                <i class="fa fa-bell"></i>
                                Notify When Available
                            </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-10" *ngIf="this.customerService.getLogedInUser() == '' ">
        <mat-card style="height: 215px;;" *ngFor="let product of this.productList; let i = index" [attr.data-index]="i">
            <img *ngIf="(product.image==null)" class="mat-card-image-test mat-card-image" mat-card-image src="assets/images/noImage.png">
            <img *ngIf="(product.image!=null)" mat-card-image class="productIMG" src="data:image/png;base64,{{product.image}}" alt="">
            <img *ngIf = "product.quantity <= 0" class="outofstock-image mat-card-image" src="assets/images/sold-out.png">

            <mat-card-content>
                <p style="height: 38px;">{{product.description}}</p>
                <!-- <p style="font-weight: 650;">{{product.retail | currency:'USD':'true'}}</p> -->
                <!-- <div style="display: flex;">
                        <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]='product.saleQuantity' min="1">
                    </div> -->
                <!-- <div>
                        <button mat-button class="addToCartOnSalePage" (click)="this.addProductToCart(product)">
                                  <i class="fa fa-cart-plus"></i>
                                      Add to cart
                                  </button>
                    </div> -->
            </mat-card-content>
        </mat-card>
    </div>

</div>