<div class="page" *ngIf="this.purchasedProductList">

  <!-- This is good -->
  <div class="top-newsletter" style="background-color: #868686; padding: 10px 0;text-align:center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-12" style="color: #fff;text-align: center;font-size: 20px;">
            <a href="" style="color:#fff; text-decoration:none;">New Product Launch in
              <div id="clock" style="display: inline;">5 Days 04:43:49</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-container type4">

    <!-- This is good -->
    <div class="top-links-container">
      <div class="top-links container">
        <a>
          <div class="mobile-contact-number">616-551-2286</div>
        </a>
        <div class="top-links-area">
          <div class="top-links-icon">
            <a href="javascript:void(0)">links</a>
          </div>
          <ul class="links">
            <li class="first">
              <a title="My Account">My Account</a>
            </li>
            <li>
              <a href="" title="Broken Screen Buyback">Broken Screen Buyback</a>
            </li>
            <li>
              <a routerLink="/shipping-info" routerLinkActive="active" title="Shipping Information">Shipping Information</a>
            </li>
            <!-- <li>
                            <a href="" title="Blog" class="top-link-mpblog">Blog</a>
                        </li> -->
            <li class=" last">
              <a *ngIf="this.customerService.getLogedInUser() == '' " routerLink="/customer/signup" routerLinkActive="active" title="Log In">Log In</a>
              <a *ngIf="this.customerService.getLogedInUser() != '' " routerLink="" (click)="this.customerService.logout()" routerLinkActive="active"
                title="Log Out">Log Out</a>

              <!-- <a (click)="this.testLogin()" title="Log In">Log In</a> -->
            </li>
          </ul>
        </div>
        <p *ngIf="this.customerService.getLogedInUser() == '' " class="welcome-msg">
          <strong>How can we help you grow your repair business today?</strong>
        </p>
        <p *ngIf="this.customerService.getLogedInUser() != '' " class="welcome-msg">
          <strong>Welcome {{this.customerService.getLogedInUser()}}</strong>
        </p>

        <div class="clearer"></div>
      </div>
    </div>

    <div class="header container">
      <h1 class="logo">
        <a href="" title="Neo Cellular" class="logo">
          <img src="/assets/images/final_logo_3000x1000.png" alt="Neo Cellular">
        </a>
      </h1>
      <div class="cart-area">
        <div class="custom-block">
          <i class="icon-phone" style="margin-right: 5px;"></i>
          <span>(678) 694-1873</span>
          <span class="split"></span>
          <a href="">CONTACT US</a>
        </div>
        <div class="mini-cart">
          <a href="javascript:void(0)" class="mybag-link">
            <i class="icon-cart"></i>
            <span class="cart-info">
              <span class="cart-qty">{{this.totalQuantity}}</span>
              <span>item(s)</span>
            </span>
          </a>
          <div class="topCartContent block-content theme-border-color">
            <p class="cart-empty" *ngIf="this.purchasedProductList.length <= 0">You have no items in your shopping cart.</p>

            <div class="inner-wrapper" *ngIf="this.purchasedProductList.length > 0">

              <div class="actions">
                <a class="btn btn-default" href="javascript:void(0)" (click)="this.goToViewCartPage()">
                  <i class="icon-basket"></i> View Cart
                </a>
                <a class="btn btn-default" href="javascript:void(0)" routerLink="/address">
                  <i class="icon-right-thin"></i>Checkout</a>
                <div class="clearer"></div>
              </div>
              <ol class="mini-products-list" style="max-height: 500px; overflow-y: auto;">
                <li *ngFor="let product of this.purchasedProductList" class="item">
                  <a href="#" class="product-image" style="height:80px; width:80px;">
                    <img *ngIf="(product.image==null)" src="assets/images/noImage.png">
                    <img *ngIf="(product.image!=null)" src="data:image/png;base64,{{product.image}}">
                  </a>
                  <div class="product-details">
                    <p class="product-name">
                      <a href="#">
                        {{product.description}}
                      </a>
                    </p>

                    <p class="qty-price">
                      {{product.saleQuantity}} X
                      <span class="price">{{product.retail | currency:'USD':'true'}}</span>
                    </p>
                    <a href="javascript:void(0)" (click)="this.setProductToDeleteFromCart(product)" title="Remove This Item" class="btn-remove"
                      data-toggle="modal" data-target="#deleteProductFromHeader">
                      <i class="icon-cancel"></i>
                    </a>
                  </div>
                  <div class="clearer"></div>
                </li>
              </ol>


              <div class="totals">
                <span class="label">Total: </span>
                <span class="price-total">
                  <span class="price">{{this.totalAmount | currency:'USD':'true' }}</span>
                </span>
              </div>

              <div class="actions">
                <a class="btn btn-default" href="javascript:void(0)" (click)="this.goToViewCartPage()">
                  <i class="icon-basket"></i> View Cart
                </a>
                <a class="btn btn-default" href="javascript:void(0)" routerLink="/address">
                  <i class="icon-right-thin"></i>Checkout</a>
                <div class="clearer"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="search-area">
        <a href="javascript:void(0);" class="search-icon">
          <i class="icon-search"></i>
        </a>
        <!-- <form id="search_mini_form" action="#" method="get" class="searchautocomplete UI-SEARCHAUTOCOMPLETE">

                    <div class="form-search" style="padding: 0;" (clickOutside)="onClickedOutside($event)">
                        <label for="search">Search:</label>

                        <div class="nav-search-in">
                            <span class="category-fake UI-CATEGORY-TEXT">All</span>
                            <span class="nav-down-arrow"></span>
                            <select name="cat" class="category UI-CATEGORY" style="width: 48px;">
                              <option value="0">All</option>
                              <option value="1126">Apple</option>
                              <option value="5">Samsung</option>
                              <option value="327">Other Parts</option>
                              <option value="200">Accessories jgghhg &amp; Toolsfghf</option>
                              <option value="1762">DJI Drones</option>
                          </select>
                        </div>

                        <input placeholder="search here" style="padding: 10px;width: 100%;border-radius: 6px;border: 0;" [(ngModel)]="searchText" (keyup)="onKey($event)" id="search" type="text" autocomplete="off" name="q" value="" class="input-text UI-SEARCH UI-NAV-INPUT" maxlength="128"
                            style="padding-left: 48px;"> -->
        <!-- <input placeholder="search here" style="padding: 10px;width: 100%;border-radius: 6px;border: 0;" (keyup)="onKey($event)" id="search" type="text" autocomplete="off" name="q" value="" class="input-text UI-SEARCH UI-NAV-INPUT" maxlength="128" style="padding-left: 48px;"> -->
        <!-- <ul style="    overflow: scroll;
                      max-height: 30em;
                      overflow-x: auto;
                      overflow-y: auto; margin-bottom:0;" class="filterHover" *ngIf="!inputOutsideClicked">

                            <li *ngFor="let c of searchData | filter : searchText" style="    cursor: pointer;">

                                <div class="inputDiv2">
                                    <div>{{c.description}}</div>
                                    <div>
                                        <p style="float:right;    padding-right: 15px;">${{c.retail}}</p>
                                    </div>
                                </div>

                            </li>

                        </ul>

                    </div>
                </form> -->
        <form id="search_mini_form" class="searchautocomplete UI-SEARCHAUTOCOMPLETE">
          <div class="form-search" style="padding: 1px;" (clickOutside)="onClickedOutside($event)">
            <label for="search">Search:</label>
            <input [(ngModel)]="searchText" placeholder="search here" name="searchText" style="padding: 10px;width: 100%;border-radius: 6px;border: 0;"
              (keyup)="onKey($event)">
            <ul style="overflow: scroll;max-height: 30em;overflow-x: auto;overflow-y: auto; margin-bottom:0;" *ngIf="!inputOutsideClicked">
              <li *ngFor="let c of searchData | filter : searchText">
                <div style="width: 100%;height: 40px;border: 1px solid;border-radius: 5px 5px 5px 5px;background: #fff;border: 1px solid #ccc;box-shadow: 0 2px 14px #5e5e5e;top: 30px;padding:3px; cursor: pointer;">
                  {{c.description}}
                </div>
                <!-- <div>
                                    <p style="float:right;padding-right: 15px;">
                                        ${{c.retail}}
                                    </p>
                                </div> -->
              </li>
            </ul>
            <button type="submit" title="Search" class="button">
              <i class="icon-search"></i>
            </button>


          </div>
        </form>
      </div>
      <div class="menu-icon">
        <a href="javascript:void(0)" title="Menu">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="header-wrapper" id="#mainDiv">
      <div class="main-nav">
        <div class="container">
          <div class="menu-wrapper">
            <div class="menu-all-pages-container">
              <ul class="menu">

                <li class="menu-full-width">
                  <a href="">Apple
                    <span class="cat-label cat-label-label1">New</span>
                  </a>
                  <div class="nav-sublist-dropdown" style="display: none;">
                    <div class="container">
                      <div class="top-mega-block">
                        <div style="margin: 0 20px;padding: 10px 0 15px;border-bottom: 1px solid #eee;width: 63%;color: #000;">
                          <b style="margin-right: 15px;">SUGGESTIONS:</b>
                          <a href="">iPhone 6S Plus</a>
                          <a href="">iPhone 6S</a>
                          <a href="" style="margin-right: 15px;color:#000">iPhone 7</a>
                          <a href="" style="color:#000">iPhone 7 Plus</a>
                        </div>
                      </div>
                      <div class="mega-columns row">
                        <div class="block1 col-sm-8">
                          <div class="row">
                            <ul>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-2 ">
                                <a class="level1" data-id="782" href="">
                                  <span>iPhone</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of appleDataIphone">
                                      <a class="level2" routerLink="/product/model/{{item.modelId}}">
                                        <span (click)="this.test()">
                                          {{item.name}}
                                        </span>
                                      </a>
                                    </li>

                                  </ul>
                                </div>
                              </li>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-2 ">
                                <a class="level1" data-id="783" href="">
                                  <span>iPad</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of appleDataIpad">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>
                                          {{item.name}}
                                        </span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="right-mega-block col-sm-4">
                          <div class="menu-right-block" style="position: relative;text-align:center;margin-top:34px;">

                            <!-- Please do not delete this comments -->
                            <a href="">
                              <img src="assets/images/menu/apple-menu-image.jpg" alt="" style="margin-top:10px;">
                            </a>
                            <div style="position: absolute;top: -35px;left: -20px;text-align: left;">
                              <!-- <h2 style="font-size: 23px;font-weight: 600;color: #fff;background-color: #2e2e2e;line-height: 1;padding: 6px 50px 6px 8px;">
                                                                <strong style="font-weight: 700;color:#fff"></strong>
                                                            </h2>
                                                            <a class="btn btn-default" style="padding: 5px 7px 5px 15px;color: #fff; border: 0;font-size:13px; float: right;" href="">
                                                              VIEW NOW <em class="icon-right-dir"></em>
                                                          </a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="menu-full-width">
                  <a href="">Samsung
                    <span class="cat-label cat-label-label1">New</span>
                  </a>
                  <div class="nav-sublist-dropdown" style="display: none;">
                    <div class="container">
                      <div class="top-mega-block">
                        <div style="margin: 0 20px;padding: 10px 0 15px;border-bottom: 1px solid #eee;width: 63%;color: #000;">
                          <b style="margin-right: 15px;">SUGGESTIONS:</b>
                          <a href="" style="margin-right: 15px;color:#000">Galaxy S7</a>
                          <a href="" style="margin-right: 15px;color:#000">Galaxy S6</a>
                          <a href="" style="margin-right: 15px;color:#000">Galaxy S8</a>
                          <a href="" style="color:#000">Galaxy S8+</a>
                        </div>
                      </div>
                      <div class="mega-columns row">
                        <div class="block1 col-sm-8">
                          <div class="row">
                            <ul>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-3  ">
                                <a class="level1" data-id="1127" href="">
                                  <span>Galaxy S Series</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of samsungS">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>{{item.name}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-3  ">
                                <a class="level1" data-id="1128" href="">
                                  <span>Galaxy Note Series</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of samsungNote">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>
                                          {{item.name}}
                                        </span>
                                      </a>
                                    </li>

                                  </ul>
                                </div>
                              </li>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-3  ">
                                <a class="level1" data-id="1130" href="">
                                  <span>Other Samsung Devices</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of samsungOther">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>{{item.name}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="right-mega-block col-sm-4">
                          <div class="menu-right-block" style="position: relative;text-align:center;margin-top:34px;">
                            <a href="">
                              <img src="assets/images/menu/samsung-menu-image.jpg" alt="" style="margin-top:10px">
                            </a>
                            <div style="position: absolute;top: -35px;left: -15px;text-align: left;">
                              <h2 style="font-size: 23px;font-weight: 600;color: #fff;background-color: #2e2e2e;line-height: 1;padding: 6px 50px 6px 8px;">
                                <strong style="font-weight: 700;color:#fff">Note 8 Screen Assemblies</strong>
                              </h2>
                              <a class="btn btn-default" style="padding: 5px 7px 5px 15px;color: #fff; border: 0;font-size:13px; float: right;" href="">SHOP NOW
                                <em class="icon-right-dir"></em>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>


                <li class="menu-full-width">
                  <a href="">LG
                    <span class="cat-label cat-label-label1">New</span>
                  </a>
                  <div class="nav-sublist-dropdown" style="display: none;">
                    <div class="container">
                      <div class="top-mega-block">
                        <div style="margin: 0 20px;padding: 10px 0 15px;border-bottom: 1px solid #eee;width: 63%;color: #000;">
                          <b style="margin-right: 15px;">SUGGESTIONS:</b>
                          <a href="" style="margin-right: 15px;color:#000">LG V20</a>
                          <a href="" style="margin-right: 15px;color:#000">LG Stylo 3 Plus</a>
                          <a href="" style="margin-right: 15px;color:#000">LG G Stylo LS770</a>
                          <a href="" style="margin-right: 15px;color:#000">LG G4</a>

                        </div>
                      </div>
                      <div class="mega-columns row">
                        <div class="block1 col-sm-8">
                          <div class="row">
                            <ul>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-5  ">
                                <a class="level1" data-id="1127" href="">
                                  <span>G Series</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of lgGSeries">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>{{item.name}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>

                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-5  ">
                                <a class="level1" data-id="1130" href="">
                                  <span>K Series</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of lgKSeries">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>{{item.name}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>

                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-5  ">
                                <a class="level1" data-id="1128" href="">
                                  <span>V Series</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of lgVSeries">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>
                                          {{item.name}}
                                        </span>
                                      </a>
                                    </li>

                                  </ul>
                                </div>
                              </li>
                        
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-5 ">
                                <a class="level1" data-id="1130" href="">
                                  <span>STYLO SERIES</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of lgStyloSeries">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>{{item.name}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-5  ">
                                <a class="level1" data-id="1130" href="">
                                  <span>OTHER SERIES</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item " *ngFor="let item of lgOtherSeries">
                                      <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                                        <span>{{item.name}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="right-mega-block col-sm-4">
                          <div class="menu-right-block" style="position: relative;text-align:center;margin-top:34px;">
                            <a href="">
                              <img src="assets/images/menu/samsung-menu-image.jpg" alt="" style="margin-top:10px">
                            </a>
                            <div style="position: absolute;top: -35px;left: -15px;text-align: left;">
                              <h2 style="font-size: 23px;font-weight: 600;color: #fff;background-color: #2e2e2e;line-height: 1;padding: 6px 50px 6px 8px;">
                                <strong style="font-weight: 700;color:#fff">Note 8 Screen Assemblies</strong>
                              </h2>
                              <a class="btn btn-default" style="padding: 5px 7px 5px 15px;color: #fff; border: 0;font-size:13px; float: right;" href="">SHOP NOW
                                <em class="icon-right-dir"></em>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="menu-full-width">
                  <a href="">Other Parts</a>
                  <div class="nav-sublist-dropdown" style="display: none;">
                    <div class="container">
                      <div class="top-mega-block">
                        <div style="margin: 0 20px;padding: 10px 0 15px;border-bottom: 1px solid #eee;width: 63%;color: #000;">
                          <b style="margin-right: 15px;">SUGGESTIONS:</b>
                          <a href="">LG G5</a>
                          <a href="">HTC One M9</a>
                          <a href="">Nexus 6</a>
                          <a href="#" style="color:#000">LG G4</a>
                        </div>
                      </div>
                      <div class="mega-columns row">
                        <div class="block1 col-sm-12">
                          <div class="row">
                            <ul>
                              <ng-container *ngFor="let brand of otherData">
                                <ng-container *ngIf="brand.modelDtoList.length<=noofshow">
                                  <li class="menu-item menu-item-has-children menu-parent-item col-sw-6">
                                    <a class="level1" data-id="30" href="#">
                                      <span>{{brand.brandName}}</span>
                                    </a>
                                    <div class="nav-sublist level1">

                                      <ul>
                                        <li class="menu-item " *ngFor="let model of brand.modelDtoList">
                                          <a class="level2" data-id="1870" href="#">
                                            <span>{{model.name}}</span>
                                          </a>
                                        </li>
                                      </ul>

                                    </div>

                                  </li>
                                </ng-container>
                                <ng-container *ngIf="brand.modelDtoList.length>noofshow">
                                  <li class="menu-item menu-item-has-children menu-parent-item col-sw-6">
                                    <a class="level1" data-id="30" href="#">
                                      <span>{{brand.brandName}}</span>
                                    </a>
                                    <div class="nav-sublist level1">

                                      <ul>
                                        <li class="menu-item " *ngFor='let i of [0,1,2,3,4] '>
                                          <a class="level2" data-id="1870" href="#">
                                            <span>{{brand.modelDtoList[i].name}}</span>
                                          </a>
                                        </li>
                                      </ul>

                                    </div>
                                  </li>
                                  <li class="menu-item menu-item-has-children menu-parent-item col-sw-6" *ngFor='let j of brand.cntiteration'>
                                    <a class="level1" data-id="30" href="#" style="padding-top:18px">
                                      <span></span>
                                    </a>
                                    <div class="nav-sublist level1">
                                      <ul>
                                        <li class="menu-item" *ngFor='let k of j'>
                                          <a class="level2" data-id="1870" href="#">
                                            <span>{{brand.modelDtoList[k].name}}</span>
                                          </a>
                                        </li>
                                      </ul>

                                    </div>
                                  </li>
                                </ng-container>
                              </ng-container>

                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </li>
                <li class="menu-full-width  ">
                  <a href="#">Accessories &amp; Tools</a>
                  <div class="nav-sublist-dropdown" style="display: none;">
                    <div class="container">
                      <div class="top-mega-block">
                        <div style="margin: 0 20px;padding: 10px 0 15px;border-bottom: 1px solid #eee;width: 63%;color: #000;">
                          <b style="margin-right: 15px;">SUGGESTIONS:</b>
                          <a href="#" style="margin-right: 15px;color:#000">Tempered Glass</a>
                          <a href="#" style="margin-right: 15px;color:#000">Data Cables</a>
                          <a href="#" style="margin-right: 15px;color:#000">Adhesives</a>
                          <a href="#" style="color:#000">Pry / Opening Tools</a>
                        </div>
                      </div>
                      <div class="mega-columns row">
                        <div class="block1 col-sm-8">
                          <div class="row">
                            <ul>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-3">
                                <a class="level1" data-id="1131" href="#">
                                  <span>Accessories</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <!-- <li class="menu-item "><a class="level2" data-id="1901" href="#"><span>Cases</span></a></li> -->
                                    <li class="menu-item ">
                                      <a class="level2" data-id="1135" href="#">
                                        <span>Chargers</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="488" href="#">
                                        <span>Data Cables</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="366" href="#">
                                        <span>Memory Cards</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="224" href="#">
                                        <span>Screen Protectors</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="439" href="#l">
                                        <span>Styluses</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="477" href="#">
                                        <span>Tempered Glass
                                          <span class="cat-label cat-label-label2">Hot!</span>
                                        </span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <!-- <li class="menu-item menu-item-has-children menu-parent-item col-sw-4  ">
                                                                <a class="level1" data-id="2105" href="#"><span>Game Console Parts</span></a>
                                                                <div class="nav-sublist level1">
                                                                    <ul>
                                                                        <li class="menu-item "><a class="level2" data-id="2106" href="#"><span>Microsoft</span></a></li>
                                                                        <li class="menu-item "><a class="level2" data-id="2109" href="#"><span>Sony</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li> -->
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-3">
                                <a class="level1" data-id="170" href="#">
                                  <span>Tools</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="197" href="#">
                                        <span>Soldering &amp; Hot Air Rework </span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="195" href="#l">
                                        <span>Adhesives</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="198" href="#">
                                        <span>Cleaning Tools</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="462" href="#">
                                        <span>gTool</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="187" href="#">
                                        <span>iSesamo iSclack &amp; iFlex</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="1387" href="#">
                                        <span>Knives &amp; Razors</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="569" href="#">
                                        <span>Mobile Defenders Toolkit</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="1066" href="#">
                                        <span>Pry &amp; Opening Tools</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="196" href="#">
                                        <span>Screwdrivers</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="1684" href="#">
                                        <span>Testing Supplies</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="1065" href="#">
                                        <span>Wire &amp; Tape</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="199" href="#">
                                        <span>See More Tools</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="menu-item menu-item-has-children menu-parent-item col-sw-4  ">
                                <a class="level1" data-id="494" href="#">
                                  <span>Refurbishing</span>
                                </a>
                                <div class="nav-sublist level1">
                                  <ul>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="754" href="#">
                                        <span>Backlight Films</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="745" href="#">
                                        <span>Glass Lenses</span>
                                      </a>
                                    </li>
                                    <li class="menu-item ">
                                      <a class="level2" data-id="744" href="#">
                                        <span>Polarizing Diffuser Films</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="right-mega-block col-sm-4">
                          <div class="menu-right-block" style="position: relative;text-align:center;margin-top:34px;">
                            <a href="#">
                              <img src="assets/images/noImage.png" alt="" style="margin-top:10px;margin-right:20px;">
                            </a>
                            <div style="position: absolute;top: -35px;left: -15px;text-align: left;">
                              <!-- <h2 style="font-size: 23px;font-weight: 600;color: #fff;background-color: #2e2e2e;line-height: 1;padding: 6px 50px 6px 8px;">
                                                                <b style="font-weight:700;color:#fff">
                                                                    VoiceComm
                                                                </b>
                                                                 <strong style="font-weight: 800;"></strong>Integration</h2>
                                                            <a class="btn btn-default" style="padding: 5px 7px 5px 15px;color: #fff; border: 0;font-size:13px; float: right;" href="#">Shop Now!<em class="icon-right-dir"></em></a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="menu-full-width">
                  <a routerLink="/product/category/29">Batteries</a>
                </li>


                <li class="menu-item menu-item-has-children menu-parent-item fl-right">
                  <a href="#">My Account</a>
                  <div class="nav-sublist-dropdown" style="display: none; list-style: none;">
                    <div class="container">
                      <ul>
                        <li class="menu-item" style="list-style: none;">
                          <a href="#">
                            <i class="icon-cart" style="margin-right: 5px;"></i>
                            <span>My Orders</span>
                          </a>
                        </li>
                        <li class="menu-item" style="list-style: none;">
                          <a href="#">
                            <i class="icon-reply" style="margin-right: 5px;"></i>
                            <span>Product Returns</span>
                          </a>
                        </li>
                        <li class="menu-item" style="list-style: none;">
                          <a href="#">
                            <i class="icon-mobile" style="margin-right: 5px;"></i>
                            <span>Broken Screen Buyback</span>
                          </a>
                        </li>
                        <li class="menu-item" style="list-style: none;">
                          <a href="#">
                            <i class="icon-dollar" style="margin-right: 5px;"></i>
                            <span>My Store Credit</span>
                          </a>
                        </li>
                        <li class="menu-item" style="list-style: none;">
                          <a href="#">
                            <i class="icon-star-empty" style="margin-right: 5px;"></i>
                            <span>Quick Shopping</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var SW_MENU_POPUP_WIDTH = 0;
      jQuery(function ($) {
        $(document).ready(function () {
          $('.main-nav .menu').et_menu({
            type: "default",
            delayTime: 0
          });
        });
      });

    </script>
    <!-- mobile menu start -->
    <div class="mobile-nav side-block container">
      <div class="menu-all-pages-container">
        <ul class="menu">

          <li class="menu-item menu-item-has-children menu-parent-item">
            <a href="#">Apple
              <span class="cat-label cat-label-label1">New</span>
            </a>
            <ul>
              <li class="menu-item menu-item-has-children menu-parent-item">
                <a class="level1" data-id="782" href="#">
                  <span>iPhone</span>
                </a>
                <ul>
                  <li class="menu-item" *ngFor="let item of appleDataIphone">
                    <a class="level2" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>

                  <!-- DO NOT DELETE THIS, THIS IS TO SHOW, ON SALE HOT AND ALL
                                <li class="menu-item "><a class="level2" data-id="852" href="#"><span>iPhone 6S (4.7&quot;) <span class="cat-label cat-label-label2">Hot!</span></span></a></li> -->
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-parent-item ">
                <a class="level1" data-id="783" href="#">
                  <span>iPad</span>
                </a>
                <ul>
                  <li class="menu-item" *ngFor="let item of appleDataIpad">
                    <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>


          <li class="menu-item menu-item-has-children menu-parent-item ">
            <a href="#">Samsung
              <span class="cat-label cat-label-label1">New</span>
            </a>
            <ul>
              <li class="menu-item menu-item-has-children menu-parent-item ">
                <a class="level1" data-id="1127" href="#">
                  <span>Galaxy S Series</span>
                </a>
                <ul>
                  <li class="menu-item " *ngFor="let item of samsungS">
                    <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1">
                  <span>Galaxy Note Series</span>
                </a>
                <ul>
                  <li class="menu-item " *ngFor="let item of samsungNote">
                    <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                      <span>
                        {{item.name}}
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-parent-item ">
                <a class="level1" data-id="1130" href="#">
                  <span>See More Samsung Devices</span>
                </a>
                <ul>
                  <li class="menu-item " *ngFor="let item of samsungOther">
                    <a class="level2" data-id="989" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="menu-item menu-item-has-children menu-parent-item  ">
            <a href="#">LG
              <span class="cat-label cat-label-label1">New</span>
            </a>
            <ul>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="2172" href="#">
                  <span>G Series</span>
                </a>
                <ul>
                  <li class="menu-item" *ngFor="let item of lgGSeries">
                    <a class="level2" data-id="2331" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
    
                </ul>
              </li>

              <li class="menu-item menu-item-has-children menu-parent-item">
                <a class="level1" data-id="2173" href="#">
                  <span>K Series</span>
                </a>

                <ul>
                  <li class="menu-item" *ngFor="let item of lgKSeries">
                    <a class="level2" data-id="2331" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>
              
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="2171" href="#">
                  <span>V Series</span>
                </a>
                <ul>

                  <li class="menu-item" *ngFor="let item of lgVSeries">
                    <a class="level2" data-id="2331" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="2174" href="#">
                  <span>Stylo Series</span>
                </a>
                <ul>

                  <li class="menu-item" *ngFor="let item of lgStyloSeries">
                    <a class="level2" data-id="2331" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                
                </ul>
              </li>

              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="2174" href="#">
                  <span>Other LG Series</span>
                </a>
                <ul>

                  <li class="menu-item" *ngFor="let item of lgOtherSeries">
                    <a class="level2" data-id="2331" routerLink="/product/model/{{item.modelId}}">
                      <span>{{item.name}}</span>
                    </a>
                  </li>
                
                </ul>
              </li>

            </ul>
          </li>
          <li class="menu-item menu-item-has-children menu-parent-item  ">
            <a href="#">Other Parts</a>
            <ul>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="1437" href="#">
                  <span>Google</span>
                </a>
                <ul>

                  <li class="menu-item ">
                    <a class="level2" data-id="2057" href="#">
                      <span>Pixel 2 XL</span>
                    </a>
                  </li>

                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="1138" href="#">
                  <span>Other</span>
                </a>
                <ul>

                  <li class="menu-item ">
                    <a class="level2" data-id="193" href="#">
                      <span>Amazon</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="205" href="#">
                      <span>Asus</span>
                    </a>
                  </li>
                  
                </ul>
              </li>
            </ul>

          </li>
          <li class="menu-item menu-item-has-children menu-parent-item  ">
            <a href="#">Accessories & Tools</a>
            <ul>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="1131" href="#">
                  <span>Accessories</span>
                </a>
                <ul>
                  <li class="menu-item ">
                    <a class="level2" data-id="477" href="#">
                      <span>Tempered Glass
                        <span class="cat-label cat-label-label2">Hot!</span>
                      </span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="2133" href="#">
                      <span>Liquid Glass</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="2203" href="#">
                      <span>Wireless Chargers and Power Banks</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="1901" href="#">
                      <span>Cases</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="1135" href="#">
                      <span>Chargers</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="488" href="#">
                      <span>Data Cables</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="366" href="#">
                      <span>Memory Cards</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="224" href="#">
                      <span>Screen Protectors</span>
                    </a>
                  </li>
                  <li class="menu-item ">
                    <a class="level2" data-id="439" href="#">
                      <span>Styluses</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="170" href="#">
                  <span>Tools</span>
                </a>


                <ul>
                  <li class="menu-item ">
                    <a class="level2" data-id="2113" href="#">
                      <span>Prime Tech Tools</span>
                    </a>
                  </li>
                  
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a class="level1" data-id="494" href="#">
                  <span>Refurbishing</span>
                </a>
                <ul>

                  <li class="menu-item ">
                    <a class="level2" data-id="754" href="#">
                      <span>Backlight Films</span>
                    </a>
                  </li>
            
                </ul>
              </li>
            </ul>
          </li>

          <li class="menu-item menu-item-has-children menu-parent-item  ">
                <a routerLink="/product/category/29">Batteries</a>
            </li>
            
          <li class="menu-item menu-item-has-children menu-parent-item fl-right">
            <a href="#">My Account</a>
            <ul>
              <li class="menu-item" style="list-style: none;">
                <a href="#">
                  <span>My Orders</span>
                </a>
              </li>
              <li class="menu-item" style="list-style: none;">
                <a href="#">
                  <span>Product Returns</span>
                </a>
              </li>
              <li class="menu-item" style="list-style: none;">
                <a href="#">
                  <span>Broken Screen Buyback</span>
                </a>
              </li>
              <li class="menu-item" style="list-style: none;">
                <a href="#">
                  <span>My Store Credit</span>
                </a>
              </li>
              <li class="menu-item" style="list-style: none;">
                <a href="#">
                  <span>Quick Shopping</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Product Delete From Cart Modal -->
<div class="modal fade" id="deleteProductFromHeader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Remove Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure You Want To Remove This Product From The Cart ?? </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="this.deleteProductFromHeader()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
